<% const { contactInformation, news, title, category, query } = locals %>
<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', { title }) %>
    <body>
        <%- include('../components/header', { activeIndex: 3, contactInformation }) %>
        <main class="mx-4 lg:mx-10 xl:mx-48 pt-4 lg:pt-10 md:pb-10">
            <section class="grid md:grid-cols-4 gap-10">
                <div class="col-span-4 lg:col-span-3">
                    <%- include('../components/category', {categories: [
                        {
                            name: "Thông tin quy hoạch",
                            url: "/tin-tuc/thong-tin-quy-hoach",
                            icon: "/assets/images/icons/thong-tin-quy-hoach.jpg"
                        },
                        {
                            name: "Pháp lý Bất động sản",
                            url: "/tin-tuc/phap-ly-bat-dong-san",
                            icon: "/assets/images/icons/phap-ly-bat-dong-san.jpg"
                        },
                        {
                            name: "Phân tích thị trường",
                            url: "/tin-tuc/phan-tich-thi-truong",
                            icon: "/assets/images/icons/dat-nen.jpg"
                        }
                    ]}) %>
                    <div class="mt-4">
                        <div class="">
                            <%- include('../components/breadcrumb', {
                                breadcrumb: [
                                    {
                                        name: "Tin tức",
                                        url: "tin-tuc"
                                    },
                                    category || {}
                                ]
                            }) %> 
                            <div class="font-semibold text-2xl py-2"><%= title %></div>
                            <div>
                                Hiện có <%- news.totalResults %> tin tức
                                <span class="text-gray-400">
                                    <span class="mx-1 md:mx-2">•</span>
                                    Đang hiển thị trang
                                    <%- news.page %>
                                    trên tổng số
                                    <%- news.totalPages %> trang
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-7">
                        <%- include("../components/newsHorizontal", {
                            grid: {
                                mdCols: 2
                            },
                            news: news.results
                        }) %>
                    </div>
                    <div class="flex w-full my-4 md:mt-10 md:mb-0">
                        <%- include('../components/pagination', {
                            current: news.page,
                            total: news.totalPages,
                            query,
                        }) %>
                    </div>
                </div>
                <div class="hidden lg:block">
                    <form class="relative" action="/tin-tuc" method="GET">
                        <input
                            type="text"
                            name="query"
                            id="query"
                            class="
                                w-full
                                outline-none
                                rounded-md
                                py-4
                                px-5
                                ring-2 ring-gray-100
                                focus:ring-encacap-main
                            "
                            placeholder="Nhập từ khoá để tìm kiếm..."
                            value="<%- query %>"
                        />
                        <button
                            type="submit"
                            class="
                                absolute
                                top-3
                                right-3
                                flex
                                items-center
                                bg-encacap-main
                                text-white
                                px-4
                                py-1
                                rounded-md
                                duration-200
                                hover:bg-yellow-600
                            "
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                fill="none"
                                class="w-4 mr-2"
                            >
                                <path
                                    d="M11.5 21a9.5 9.5 0 1 0 0-19 9.5 9.5 0 0 0 0 19ZM22 22l-2-2"
                                    stroke="currentColor"
                                    stroke-width="2.0"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                ></path>
                            </svg>
                            Tìm
                        </button>
                    </form>
                    <!-- <div class="mt-10 border-2 border-gray-100 rounded-md px-5">
                        <div class="border-b-2 border-gray-100 py-4 font-semibold">Được xem nhiều nhất trong tháng</div>
                        <div class="divide-y-2 divide-gray-100">
                            <a
                                href="/real_estate_detail.html"
                                class="block pt-4 pb-6 duration-200 hover:text-encacap-main"
                            >
                                Quy hoạch chung đô thị mới Nhơn Trạch (Đồng Nai) đến năm 2035, tầm nhìn đến năm 2050 có
                                gì?
                            </a>
                            <a
                                href="/real_estate_detail.html"
                                class="block pt-4 pb-6 duration-200 hover:text-encacap-main"
                            >
                                Cấp thiết làm đường sắt nối sân bay
                            </a>
                        </div>
                    </div> -->
                    <div class="mt-10 border-2 border-gray-100 rounded-md px-5">
                        <div class="border-b-2 border-gray-100 py-4 font-semibold">
                            <div class="h-3 my-2 bg-gray-200 animate-pulse rounded-full"></div>
                        </div>
                        <div class="mt-3">
                            <a href="#" class="block py-1 duration-200 hover:text-encacap-main">
                                <div class="h-3 my-2 bg-gray-200 animate-pulse rounded-full"></div>    
                            </a>
                            <a href="#" class="block pt-1 pb-4 duration-200 hover:text-encacap-main">
                                <div class="h-3 my-2 bg-gray-200 animate-pulse rounded-full"></div>
                            </a>
                        </div>
                    </div>
                    <div class="mt-10 border-2 border-gray-100 rounded-md py-4 px-5">
                        <div class="border-b-2 border-gray-100 pb-4 font-semibold">
                            <div class="h-3 my-2 bg-gray-200 animate-pulse rounded-full"></div>
                        </div>
                        <div class="mt-3">
                            <a href="#" class="block py-1 duration-200 hover:text-encacap-main">
                                <div class="h-3 my-2 bg-gray-200 animate-pulse rounded-full"></div>    
                            </a>
                            <a href="#" class="block py-1 duration-200 hover:text-encacap-main">
                                <div class="h-3 my-2 bg-gray-200 animate-pulse rounded-full"></div>
                            </a>
                        </div>
                    </div>
                    <!-- <div class="mt-10 border-2 border-gray-100 rounded-md py-4 px-5">
                        <div class="border-b-2 border-gray-100 pb-4 font-semibold">BĐS theo khu vực</div>
                        <div class="mt-3">
                            <a href="/real_estate_detail.html" class="block py-1 duration-200 hover:text-encacap-main"
                                >Hồ Chí Minh (123)</a
                            >
                            <a href="/real_estate_detail.html" class="block py-1 duration-200 hover:text-encacap-main"
                                >Đồng Nai (123)</a
                            >
                        </div>
                    </div> -->
                </div>
            </section>
        </main>
        <%- include('../components/footer', { contactInformation }) %>
        <%- include('../partials/foot') %> 
    </body>
</html>
