<%
    const { css, SEO } = locals;
    const siteName = SEO.site;
    const title = `${locals.title} - ${siteName}`;
    const { description, image, url, publishedTime, modifiedTime } = SEO;
%>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/app.min.css" />
    <% if (css?.length > 0) { %>
        <% css.forEach(filename => { %>
            <link rel="stylesheet" href="/assets/css/<%= filename %>.min.css" />
        <% }) %> 
    <% } %>
    <link
        rel="shortcut icon"
        href="/assets/images/logo.png"
        type="image/x-icon"
    />
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <!-- Open Graph Meta -->
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:image" content="<%= image %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:site_name" content="Bất động sản nghỉ dưỡng Bảo Lộc – <%= url %>" />
    <% if (publishedTime) { %>
        <meta property="article:published_time" content="<% publishedTime %>" />
    <% } %>
    <% if (modifiedTime) { %>
        <meta property="article:modified_time" content="<% modifiedTime %>" />
    <% } %>
</head>
