<%
    const breadcrumb = [{
            name: "Trang chủ",
            url: ""
        },
        ...locals.breadcrumb
    ];
    const breadcrumbLength = breadcrumb?.length - 1 || 0;
    let url = "";
%>
<ul title="breadcrumb">
    <% breadcrumb.forEach((item, index) => { %>
        <% if (index !== breadcrumbLength) {
            url += item.url + "/";
        %>
            <li class="inline">
                <a href="<%= url %>" class="mr-2 text-gray-400 hover:text-encacap-main duration-200"><%= item.name %></a>
                <span class="mr-2.5 text-gray-400">/</span>
            </li>
        <% } else { %>
            <% if (item.url) { %>
                <li class="inline">
                    <a
                        href="<%= `${url}${item.url}/` %>"
                        class="text-gray-400 hover:text-encacap-main duration-200"
                    >
                        <%= item.name %>
                    </a>
                </li>
            <% } else { %>
                <li class="inline">
                    <span class="text-gray-400"><%= item.name %></span>
                </li>
            <% } %>
        <% } %>
    <% }) %>
</ul>