<%
    const { news } = locals;
    const newsLength = news.length;
%>
<div
    class="
        grid
        md:grid-cols-2
        lg:grid-cols-3
        md:gap-2
        mt-10
        md:divide-x-2
        border-b-2
        md:border-b-0
        border-gray-100
        overflow-hidden
    "
>
    <% const newsItem = news.shift(); %>
    <% if (newsItem) { %>
        <a
            href="<%= newsItem.url %>"
            class="
                md:mr-5
                border-b-2 border-gray-100
                pb-4
                md:border-b-0 md:pb-0
                hover:text-encacap-main
            "
        >
            <div class="h-40">
                <img
                    src="<%= newsItem.avatarURLs.largeThumbnail %>"
                    alt="<%= newsItem.title %>"
                    class="
                        w-full
                        h-full
                        object-cover object-center
                        rounded-md
                    "
                />
            </div>
            <div class="pt-4">
                <div class="font-semibold">
                    <%= newsItem.title %>
                </div>
                <div
                    class="
                        flex
                        items-center
                        mt-2
                        text-gray-500 text-sm
                    "
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="none"
                        class="w-4 mr-2"
                    >
                        <path
                            d="M22 12c0 5.52-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2s10 4.48 10 10Z"
                            stroke="currentColor"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                        <path
                            d="m15.71 15.18-3.1-1.85c-.54-.32-.98-1.09-.98-1.72v-4.1"
                            stroke="currentColor"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round">
                        </path>
                    </svg>
                    <%= newsItem.friendlyUpdatedTime %>
                </div>
            </div>
        </a>
    <% } %>
    <% if (newsLength > 1) { %>
        <div class="md:pl-6 md:pr-3 md:-my-4 divide-y-2 border-gray-100 divide-gray-100">
        <%
            const newsItems = news.splice(0, 3);
            newsItems.forEach((newsItem) => {
        %>
            <a
                href="<%= newsItem.url %>"
                class="
                    flex
                    items-center
                    py-4
                    hover:text-encacap-main
                "
            >
                <div class="flex-shrink-0 w-24 h-16 mr-4">
                    <img
                        src="<%= newsItem.avatarURLs.thumbnail %>"
                        alt="<%= newsItem.title %>"
                        class="
                            w-full
                            h-full
                            object-cover object-center
                            rounded-md
                        "
                    />
                </div>
                <div class="">
                    <div class="font-semibold">
                        <%= newsItem.title %>
                    </div>
                </div>
            </a>
        <% }) %>
        </div>
    <% } %>
    <% if (newsLength > 1) { %>
        <div
            class="
                lg:pl-3
                border-t-2
                md:hidden
                lg:block
                md:-my-4
                border-gray-100
                md:border-t-0
                divide-y-2 divide-gray-100
            "
        >
        <%
            const newsItems = news.splice(0, 3);
            newsItems.forEach((newsItem) => {
        %>
            <a
                href="<%= newsItem.url %>"
                class="
                    flex
                    items-center
                    py-4
                    md:pb-2 md:pt-0
                    hover:text-encacap-main
                "
            >
            <div
                class="
                    flex
                    items-center
                    py-4
                    md:pt-0 md:pb-2
                    hover:text-encacap-main
                "
            >
                <div class="flex-shrink-0 w-30 h-16 mr-4">
                    <img
                        src="<%= newsItem.avatarURLs.thumbnail %>"
                        alt="<%= newsItem.title %>"
                        class="
                            w-full
                            h-full
                            object-cover object-center
                            rounded-md
                        "
                    />
                </div>
                <div class="">
                    <div class="font-semibold">
                        <%= newsItem.title %>
                    </div>
                </div>
            </div>
            </a>
        <% }) %>
        </div>
    <% } %>
</div>
